* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: 'Ubuntu', sans-serif;
}

.wrapper {
  padding: 0 2rem;
}

.site {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem 0;
}

/* Calculator body */
.calc {
  border: 2px solid #5c5757;
  flex-basis: 300px;
}

/* Calculator body */
/* Display section */
.calc__display {
  border-bottom: 2px solid #5c5757;
  display: flex;
  justify-content: flex-end;
  height: 70px;
}

.calc__inp {
  background-color: #fff;
  border: none;
  font-size: 1.5rem;
  height: 67px;
  padding: 0 17px;
  width: 100%;
}

.calc__inp:focus {
  outline: thin #5c5757;
}

/* Calculator body */
/* Grid container - Buttons */
.calc__main {
  column-gap: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 50px);
  grid-template-areas: 
    'clear clear backspace divide'
    'seven eight nine multiple'
    'four five six minus'
    'one two three plus'
    'zero decimal equals equals';
  padding: 15px;
  row-gap: 15px;
}

/* Grid items */
.calc__btn {
  cursor: pointer;
  align-items: center;
  border: 1px solid #5c5757;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.calc__btn-clear {
  grid-area: clear;
}

.calc__btn-backspace {
  grid-area: backspace;
}

.calc__btn-zero {
  grid-area: zero;
}

.calc__btn-one {
  grid-area: one;
}

.calc__btn-two {
  grid-area: two;
}

.calc__btn-three {
  grid-area: three;
}

.calc__btn-four {
  grid-area: four;
}

.calc__btn-five {
  grid-area: five;
}

.calc__btn-six {
  grid-area: six;
}

.calc__btn-seven {
  grid-area: seven;
}

.calc__btn-eight {
  grid-area: eight;
}

.calc__btn-nine {
  grid-area: nine;
}

.calc__btn-plus {
  grid-area: plus;
}

.calc__btn-minus {
  grid-area: minus;
}

.calc__btn-divide {
  grid-area: divide;
}

.calc__btn-equals {
  grid-area: equals;
}

.calc__btn-decimal {
  grid-area: decimal;
}

/* Grid items - Colors */
.calc__btn--color-gray {
  background-color: #767676;
}

.calc__btn--color-gray:hover {
  background-color: #505050;
}

.calc__btn--color-red {
  background-color: #d90061;
}

.calc__btn--color-red:hover {
  background-color: #a6004a;
}

.calc__btn--color-blue {
  background-color: #0061d9;
}

.calc__btn--color-blue:hover {
  background-color: #004dad;
}

.calc__btn--color-green {
  background-color: #61d900;
}

.calc__btn--color-green:hover {
  background-color: #4dad00;
}
