* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 40px 20px;
}

/*  visible only to screen readers */
.sr-only {
  height: 1px;
  left: -10000px;
  position: absolute;
  overflow: hidden;
  top: auto;
  width: 1px;
}

/* Calculator body */
.calc {
  border: 2px solid #5c5757;
  flex-basis: 300px;
}

/* Calculator body */
/* Display section */
.calc__display {
  display: flex;
  justify-content: flex-end;
  height: 80px;
}

.calc__inp {
  background-color: #fff;
  border: none;
  font-size: 1.2rem;
  height: 80px;
  padding: 0 17px;
  text-align: right;
  width: 100%;
}

.calc__inp:focus {
  outline: thin #5c5757;
}

/* Calculator body */
/* Grid container - Buttons */
.calc__main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 70px);
  grid-template-areas: 
    'seven eight nine delete'
    'four five six plus'
    'one two three minus'
    'decimal zero divide multiple'
    'reset reset  equals equals';
}

/* Grid items */
.calc__btn {
  cursor: pointer;
  align-items: center;
  border: 1px solid #5c5757;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.calc__btn-reset {
  grid-area: reset;
}

.calc__btn-delete {
  grid-area: delete;
}

.calc__btn-zero {
  grid-area: zero;
}

.calc__btn-one {
  grid-area: one;
}

.calc__btn-two {
  grid-area: two;
}

.calc__btn-three {
  grid-area: three;
}

.calc__btn-four {
  grid-area: four;
}

.calc__btn-five {
  grid-area: five;
}

.calc__btn-six {
  grid-area: six;
}

.calc__btn-seven {
  grid-area: seven;
}

.calc__btn-eight {
  grid-area: eight;
}

.calc__btn-nine {
  grid-area: nine;
}

.calc__btn-plus {
  grid-area: plus;
}

.calc__btn-minus {
  grid-area: minus;
}

.calc__btn-divide {
  grid-area: divide;
}

.calc__btn-equals {
  grid-area: equals;
}

.calc__btn-decimal {
  grid-area: decimal;
}

/* Grid items - Colors */
.calc__btn--color-gray {
  background-color: #767676;
}

.calc__btn--color-gray:hover {
  background-color: #505050;
}

.calc__btn--color-red {
  background-color: #d90061;
}

.calc__btn--color-red:hover {
  background-color: #a6004a;
}

.calc__btn--color-blue {
  background-color: #7800d9;
}

.calc__btn--color-blue:hover {
  background-color: #5c00a6;
}

.calc__btn--color-green {
  background-color: #00d978;
}

.calc__btn--color-green:hover {
  background-color: #00a65c;
}
